
.jumbotron {
  align-items: baseline;
  height: 21rem;
  padding: 7rem 2rem;
  background-position: center;
}
#jumboname {
 color: white;
 font-family: 'Crimson Text', serif;
}

.dice_card {
  margin-top: 3rem;
  text-align: center;
}
.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px; }
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.5);
}
:focus {
  outline: 2px solid #007bff; /* Example focus style */
}
.feedback-item {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust the transition duration and timing function */
}
#feedback {
  position: relative;
  min-height: 100px; /* Minimum height to ensure space for text */
  overflow: hidden;
  background-color: #343A40; /* Background color */
  color: #ffffff; /* Text color */
  text-align: center;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  margin-top: 20px; /* Adjust margin as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-text {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  display: inline-block;
}

.show {
  opacity: 1;
  transform: translateY(0%);
  }
.topics {
  text-decoration: underline;
}
.resume-image {
  transition: transform 0.3s ease;
}

.resume-image:hover {
  transform: scale(1.05);
}

.cert-card {
  transition: transform 0.3s ease;
}

.cert-card:hover {
  transform: scale(1.05);
}

.separator {
  border-bottom: 1px solid #fff;
  margin: 40px 0;
}

.expandable-image {
  cursor: pointer;
}
a {
    color: #00BFFF; /* Bright blue color */
    text-decoration: none; /* Removes the underline from the link */
}

a:hover {
    color: #1E90FF; /* Slightly different shade for hover state for better user experience */
    text-decoration: underline; /* Adds underline on hover for better visibility */
}
.about-picture {
  width: 300px; /* Adjust the size as needed */
  height: 300px; /* Ensure the height matches the width for a perfect circle */
  border-radius: 50%;
  object-fit: cover; /* Ensures the image covers the entire container */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.card {
  transition: transform 0.2s;
  margin-bottom: 20px; /* To ensure space between rows */
}
.card:hover {
  transform: scale(1.05);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  width: 100%;
  height: auto;
}

.card-text {
  margin: 0;
}
.social-card {
  background-color: #343a40;
  color: #fff;
  border: 0;
  transition: transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-card:hover {
  transform: translateY(-5px);
}

.social-card .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.social-card img {
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}
.project-card {
  background-color: #343a40;
  color: #fff;
  border: 0;
  transition: transform 0.2s, background-image 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card-body {
  padding: 15px;
}

.project-card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.project-card-text {
  font-size: 1rem;
}
.carousel-inner img {
  width: 1400px;
  height: 780px; /* Set a fixed height for the carousel */
  object-fit: none; /* Ensure the images cover the area without distortion */
}
.dropdown-menu {
  z-index: 1050; /* Ensure the dropdown menu is above other elements */
}

.dropdown-filter {
  position: relative; /* Ensure the dropdown filter has a positioning context */
  z-index: 1050; /* Ensure the dropdown filter is above other elements */
}
.ideas-board .list-group-item {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.ideas-board .list-group-item:hover {
  background-color: #1a1a1a;
}

.idea-date {
  font-size: 0.9em;
  color: #aaa;
}
