
.jumbotron {
  align-items: baseline;
  height: 21rem;
  padding: 7rem 2rem;
  background-position: center;
}
#jumboname {
 color: white;
 font-family: 'Crimson Text', serif;
}

.dice_card {
  margin-top: 3rem;
  text-align: center;
}
.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px; }
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.5);
}
:focus {
  outline: 2px solid #007bff; /* Example focus style */
}
.feedback-item {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust the transition duration and timing function */
}
#feedback {
  position: relative;
  min-height: 100px; /* Minimum height to ensure space for text */
  overflow: hidden;
  background-color: #343A40; /* Background color */
  color: #ffffff; /* Text color */
  text-align: center;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  margin-top: 20px; /* Adjust margin as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-text {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  display: inline-block;
}

.show {
  opacity: 1;
  transform: translateY(0%);
  }
.topics {
  text-decoration: underline;
}
.resume-image {
  transition: transform 0.3s ease;
}

.resume-image:hover {
  transform: scale(1.05);
}

.cert-card {
  transition: transform 0.3s ease;
}

.cert-card:hover {
  transform: scale(1.05);
}

.separator {
  border-bottom: 1px solid #fff;
  margin: 40px 0;
}

.expandable-image {
  cursor: pointer;
}
